body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #8360c3, #2ebf91);
}
.bonjour{
    padding: 100px;
    width: 100%;
    background-size: cover;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(197,83,214,1) 35%, rgba(200,184,210,1) 74%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
    opacity: 0.8;
}
.bienanime{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.textban{
    color: white;
    text-align: center;
    font-family:  Comic sans ms;
    font-size: xx-large;
}
.nav{
    text-align: right;
    background-color: rgb(154, 149, 252);
    background-size: contain;
    padding: 5px;
    width: 100%;
    position:fixed;
    right: 1px;
    z-index: 1;
    

}
a{
    font: 14px comic sans ms black;
    margin-left: 3px;
    padding: 5px;
    border-radius: 10% 10% / 10% 10% ;
    background-color: chocolate;
    color: black;
    text-decoration: none;
}
a:hover{
    color: #d4cbe2;
    border-bottom: 4px solid rgba(222, 107, 6, 0.999);
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    padding: 5px;
    }
a:focus {
    background-color: #b2b22b;
}
a:visited {
    color: rgb(12, 166, 66);
}
p{
    font: 16px serif black;
    
}
.imglpo{
   
    width: 75%;
 
}
.imglpo:hover{
    opacity: 0.8;
    box-shadow: 0px 1px 1px 6px black ;
}
.imglpo:hover + p{
    color: rgb(224, 40, 101);
}
.textlpo{
    width: 373px;
    height: 373px;
    text-align: center;
    font: 16px comic sans ms black;
    background-color: #2ebf91;
    border-radius: 10% 12% 10% 24% / 10% 10% 10% 25% ;
    margin-right: 15px;

}
.contcent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 600px;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
}
.one{
order: 1;
}
.two{
order: 2;
}
footer{
    background-color: beige;
    background-size: cover;
}
.ressource{
    margin: 0px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 15px;
    height: 150px;
}
#support{
    display: flex;
    flex-direction: column;
}
button{
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);   
   border-radius: 50% / 50%;
}