nav{

    display: flex;
    align-content: center;
    align-items: baseline;
    flex-direction: row;
}
.nav-Bar{
    background-color: rgb(235, 190, 140);
}
.nav-Cat{
    list-style-type : none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
  
