nav{

    display: flex;
    align-content: center;
    align-items: baseline;
    flex-direction: row;
}
ul {
  list-style-type : none;
}
.nav-Cat{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
  
