.comentaire{
    width: 589px;
    height: 296px; 
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    font: 14px comic sans ms black;
}
.formulaire{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    
}
table {
    border-collapse: collapse;
    margin: 15px;
}

td, th {
    border: 1px solid black;
    padding: 15px;
}
fieldset{
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 25px;
    border: 2px solid black;
    padding:15px;
    background-color: rgba(107, 27, 182, 0.377);
}
legend{
    border-radius: 25px;
    border: 2px solid black;
    padding: 15px;
    background-color: bisque;
}
:required {
    background-color:#ee84a4bd;
}
input{
    border-radius: 15px;
    padding:5px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.envoyer{
    display: block;
    position: relative;
    top: 100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 50px;
    border: 0px;
    background-color: #7d82e2f4;
    padding: 15px;
}
